---

---

<div id="start-game" class="container">
    <div class="play-content">

    </div>
</div>

<style lang="scss"> 
@import '../../../assets/sass/main.scss';   

.container {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    background-color: $darkNavy;

}

.play-content {
    display: flex;
    width: 460px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}
</style>