---
import Header from "./Header.astro";
import MidContent from "./MidContent.astro";
import Footer from "./Footer.astro";
---

<div>
  <Header />

  <MidContent />

  <Footer />
</div>

<style lang="scss">
@import '../../../assets/sass/main.scss';


</style>